<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN""http://www.w3.org/TR/html4/strict.dtd">
%html
  %head
    %title Calendar 2014
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "2013-12-28", :name => "date.created"}/
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/screen.css"}/
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/print.css", :media => 'all'}/
  %body
    %table
      %caption
        %span
          January 2014
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
      %tr
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
      %tr
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
      %tr
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
      %tr
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date 31
        %td
          %span.date &nbsp;

    %table
      %caption
        %span
          February 2014
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date 1
      %tr
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
      %tr
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
      %tr
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
      %tr
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date &nbsp;

    %table
      %caption
        %span
          March 2014
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date 1
      %tr
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
      %tr
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
      %tr
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
      %tr
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
      %tr
        %td
          %span.date 30
        %td
          %span.date 31
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;

    %table
      %caption
        %span
          April 2014
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
      %tr
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
      %tr
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
      %tr
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
      %tr
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;

    %table
      %caption
        %span
          May 2014
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
      %tr
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
      %tr
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
      %tr
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
      %tr
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date 31

    %table
      %caption
        %span
          June 2014
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
      %tr
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
      %tr
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
      %tr
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
      %tr
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;

    %table
      %caption
        %span
          July 2014
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
      %tr
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
      %tr
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
      %tr
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
      %tr
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date 31
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;

    %table
      %caption
        %span
          August 2014
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date 1
        %td
          %span.date 2
      %tr
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
      %tr
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
      %tr
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
      %tr
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
      %tr
        %td
          %span.date 31
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;

    %table
      %caption
        %span
          September 2014
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &nbsp;
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
      %tr
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
      %tr
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
      %tr
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
      %tr
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;

    %table
      %caption
        %span
          October 2014
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
      %tr
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
      %tr
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
      %tr
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
      %tr
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date 31
        %td
          %span.date &nbsp;

    %table
      %caption
        %span
          November 2014
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date 1
      %tr
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
      %tr
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
      %tr
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
      %tr
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
      %tr
        %td
          %span.date 30
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;

    %table
      %caption
        %span
          December 2014
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &nbsp;
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
      %tr
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
      %tr
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
      %tr
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
      %tr
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date 31
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
        %td
          %span.date &nbsp;
