!!! Strict
%html
  %head
    %title Calendar 2015
    %meta{:content => "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %meta{:content => "2015-01-31", :name => "date.created"}/
    %meta{:content => "HTML Calendar Maker 2.0", :name => "generator"}/
    %meta{:content => "", :name => "licensekey"}/
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/screen.css"}/
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/print.css", :media => 'all'}/
  %body
    .title February 2015
    %table{:border => "1"}
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
      %tr
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
      %tr
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
      %tr
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
    %p
    .title March 2015
    %table{:border => "1"}
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
      %tr
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
      %tr
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
      %tr
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
      %tr
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date 31
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
    %p
    .title April 2015
    %table{:border => "1"}
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
      %tr
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
      %tr
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
      %tr
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
      %tr
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date &#160;
        %td
          %span.date &#160;
    %p
    .title May 2015
    %table{:border => "1"}
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date 1
        %td
          %span.date 2
      %tr
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
      %tr
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
      %tr
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
      %tr
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
      %tr
        %td
          %span.date 31
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
    %p
    .title June 2015
    %table{:border => "1"}
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &#160;
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
      %tr
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
      %tr
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
      %tr
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
      %tr
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
    %p
    .title July 2015
    %table{:border => "1"}
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
      %tr
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
      %tr
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
      %tr
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
      %tr
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date 31
        %td
          %span.date &#160;
    %p
    .title August 2015
    %table{:border => "1"}
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date 1
      %tr
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
      %tr
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
      %tr
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
      %tr
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
      %tr
        %td
          %span.date 30
        %td
          %span.date 31
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
    %p
    .title September 2015
    %table{:border => "1"}
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
      %tr
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
      %tr
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
      %tr
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
      %tr
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
    %p
    .title October 2015
    %table{:border => "1"}
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
      %tr
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
      %tr
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
      %tr
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
      %tr
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date 31
    %p
    .title November 2015
    %table{:border => "1"}
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
        %td
          %span.date 6
        %td
          %span.date 7
      %tr
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
        %td
          %span.date 13
        %td
          %span.date 14
      %tr
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
        %td
          %span.date 20
        %td
          %span.date 21
      %tr
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
        %td
          %span.date 27
        %td
          %span.date 28
      %tr
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date &#160;
    %p
    .title December 2015
    %table{:border => "1"}
      %tr
        %th Sun
        %th Mon
        %th Tue
        %th Wed
        %th Thu
        %th Fri
        %th Sat
      %tr
        %td
          %span.date &#160;
        %td
          %span.date &#160;
        %td
          %span.date 1
        %td
          %span.date 2
        %td
          %span.date 3
        %td
          %span.date 4
        %td
          %span.date 5
      %tr
        %td
          %span.date 6
        %td
          %span.date 7
        %td
          %span.date 8
        %td
          %span.date 9
        %td
          %span.date 10
        %td
          %span.date 11
        %td
          %span.date 12
      %tr
        %td
          %span.date 13
        %td
          %span.date 14
        %td
          %span.date 15
        %td
          %span.date 16
        %td
          %span.date 17
        %td
          %span.date 18
        %td
          %span.date 19
      %tr
        %td
          %span.date 20
        %td
          %span.date 21
        %td
          %span.date 22
        %td
          %span.date 23
        %td
          %span.date 24
        %td
          %span.date 25
        %td
          %span.date 26
      %tr
        %td
          %span.date 27
        %td
          %span.date 28
        %td
          %span.date 29
        %td
          %span.date 30
        %td
          %span.date 31
        %td
          %span.date &#160;
        %td
          %span.date &#160;
    %p
    .footer
      Generated by
      %a{:href => "http://freehtmlcalendar.com"} FreeHTMLCalendar.com
      Copyright &#169; 2011 John Dalbey.
